#contentResource{
	/* The main container div */
	
	width:70%;
	background:rgba(200,200,200,0.9);
	border:1px solid #ffffff;
	padding:10px 10px 60px 10px;
	
	
}

#listResource{
	/* The unordered list that is to be split into pages */

	width:100%;
	overflow:hidden;
	position:relative;
	background: rgba(0,0,0,1) url("../img/fondoAuto.png");
	padding:10px 0;
	/*	CSS3 inner shadow (the webkit one is commeted, because Google Chrome
		does not like rounded corners combined with inset shadows): */

	-moz-box-shadow:0 0 10px #222 inset;
	/*-webkit-box-shadow:0 0 10px #222 inset;*/
	box-shadow:0 0 10px #222 inset;
}

.swControls{
	position:absolute;
	margin-top:10px;	
	max-height: 50px;
	overflow: scroll;
	overflow-y:hidden;  
	width: 70%; 
	height: auto;
	scrollCar
}

.inControls{
	width: 10000px;
}

a.swShowPage{

	/* The links that initiate the page slide */
	background-color:#444444;
	float:left;
	height:15px;
	margin:4px 3px;
	text-indent:-9999px;
	width:15px;
	display: inline;
	/*border:1px solid #ccc;*/
	
	/* CSS3 rounded corners */
	
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

a.swShowPage:hover,
a.swShowPage.active{
	background-color:#2993dd;
	
	/*	CSS3 inner shadow */
	
	-moz-box-shadow:0 0 7px #1e435d inset;
	/*-webkit-box-shadow:0 0 7px #1e435d inset;*/
	box-shadow:0 0 7px #1e435d inset;
}

#listResource li{
	background-color:rgba(200,200,200,0.7);
	list-style:none outside none;
	margin:10px 1.5% 0 1.5%;
	padding:20px;
	box-sizing:border-box;
	float:left;
	width:30%;
	min-height: 214px;
	/* Regular CSS3 box shadows (not inset): */

	-moz-box-shadow:0 0 6px #111111;
	-webkit-box-shadow:0 0 6px #111111;
	box-shadow:0 0 6px #111111;
	position: relative;
}

/*#listResource,
#listResource li{
	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}*/

#popUp{
	width:550;
	height:300;
	margin: 0 auto;	
}

div.hidden{
	display: none;
}

